*
{
	margin: 0px auto;
	padding: 0px;
}

.img-container {
	width:80%;
	background-color:#f6ffb3;
	border-radius: 20px;
	border: 1px solid lightblue;
	transition: background-color 0.5s;
	transition: border 0.5s;
}

.img-container:hover {
	/* width: 83%; */
	/* height: 80%; */
	background-color:#eafa73;
	border: 8px solid #eafa73;
	/* border-right: 4px solid lightblue; */
	/* transform: scale(1.03); */ 
	/* transform: rotateY(180deg) */
}

.caption-container {
	
	background-color:#b5acfc;
	border-radius: 15px; 
	width:90%; 
	height: 60px;
	margin:auto;
	margin-top: 10px;
	text-align: center;
   /*  display: table-cell;   */
    overflow: hidden;
    vertical-align: middle; 
	/* padding-bottom:20px	; */
	transition: border 0.2s;
}

.caption-container:hover {
	color:#825101;
	border: 1px solid blue;
	border-top: 3px solid blue;
}


.row {
	padding : 1%;
	display: flex;
	margin: auto;
	justify-content: center;
	
}

.page-header {
	font-family: sans-serif ;
	border-radius: 10px;
	background-color: #8ffff0;
	/* #8fffff; */
}
/* 
img:hover {
	filter: invert(100%)
} */