/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #ffffff;
    line-height: calc(20/14);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
    box-shadow: inset rgba(0, 0, 0, 0.24) 0px 0px 5px 0px;
}

:root {
    --fa-display: inline-flex;
    --header-height: 60px;
    --border-color: rgba(183 188 188 / 25%);
    --card-hover-color: rgba(0 0 0 / 25%);
    --name-header-bakground-color: rgba(0 0 0 / 25%);
    --card-background-color: rgba(0 0 0 / 20%);
}

i {
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 6px;

    .list-item {
        padding: 10px;
        border-radius: 6px;
    }
}

hr {
    width: 100%;
    margin-block: 10px;
    border-color: var(--border-color);
}

/* --------------------------------------------   BACKGROUND   ------------------------------------------- */

/* Background Animation */
.background-animation {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    /* background: linear-gradient(180deg, #1A005F, #32007A, #5200B0, #FF007F, #FF8800); */
    background: linear-gradient(45deg, #1A005F, #41045df4, #03614e, #5200B0, #d67301);
    /* background: radial-gradient(circle, #005f11, #7a2f00, #5200B0, #3c0b77d7, #121212); */
    /* animation: rotate-swoosh 20s linear infinite; */
}

.background-animation::before,
.background-animation::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    top: -50%;
    left: -50%;
    background: 
                radial-gradient(circle, #01255bef 15%, #c81a1aef 25%, transparent 35%),
                radial-gradient(circle, #154d67ea  40%, #02175b 50%, transparent 60%),
                radial-gradient(circle, #0bab03eb  65%, #cb0018e3 90%);
    mix-blend-mode: screen;
    animation: waveAnimation 8s infinite alternate ease-in-out;
    filter: blur(80px);
}
 
.background-animation::after {
    width: 200%;
    height: 200%;
    animation-delay: 3s;
    animation-duration: 4s;
    background: radial-gradient(circle, rgba(101, 74, 15, 0.9) 15%, transparent 35%),
                radial-gradient(circle, rgba(109, 14, 109, 0.9) 25%, transparent 45%),
                radial-gradient(circle, rgba(24, 60, 88, 0.9) 35%, transparent 100%);
    filter: blur(60px);
}

@keyframes rotate-swoosh {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }    
}

@keyframes waveAnimation {
    0% { transform: translate(0, 0) scale(1); }
    20% { transform: translate(5%, 5%) scale(1.2); }
    40% { transform: translate(5%, -5%) scale(1.1); }
    60% { transform: translate(-5%, 5%) scale(0.9); }
    80% { transform: translate(-5%, -5%) scale(1.3); }
    100% { transform: translate(0, 0) scale(1); }
}

/* --------------------------------------------   MAIN CONTAINER   ------------------------------------------- */

/* Main Container */
.container {
    /* margin: 5vh 5vw; */
    font-size: 15px;
    font-weight: 500;
    line-height: calc(20/15);
    display: flex;
    flex-direction: column;
    height: 94vh;
    width: 85vw;
    max-width: 1400px;
    color: #fff;
    background-color: rgba(16 18 27 / 40%);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    border: 1px solid rgba(83 88 88 / 25%);
    overflow: hidden;
    transition: all 0.1s ease;
    box-shadow: 2px 2px 10px -1px rgba(41, 41, 41, 0.5);

    .main-content {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: calc(100% - var(--header-height));

        .sidebar {
            /* width: clamp(10%, 220px, 20%); */
            width: fit-content;
            height: 100%;
            border-right: 1px solid var(--border-color);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #3337;
                border-radius: 2.5px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #2224;
            }

            .sidebar-content {
                padding: 10px 15px;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                    
            }
        }

        .right-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            /* Scrollable Content */
            .scrollable-content {
                flex: 1;
                overflow-y: auto;
                padding: 20px;
                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #3337;
                    border-radius: 2.5px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background-color: #2224;
                }
            }
        }
        
    }
}

/* Sticky Header */
.name-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 0;
    font-weight: 700;
    padding: 7px;
    background: var(--name-header-bakground-color);
    border-bottom: 1px solid var(--border-color);
    height: var(--header-height);
    max-height: var(--header-height);
}

/* --------------------------------------------   SIDEBAR   ------------------------------------------- */

.sidebar-lists {
    .list-item {
        padding: 12px;
        border-radius: 6px;
        display: flex;
        gap: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        transition: 0.3s;
        &:hover, &:focus {
            background-color: var(--card-hover-color);
        }
    }
}

/* Sections */
section {
    margin-bottom: 20px;
    margin-left: 10px;
    & > h2 {
        margin-top: 0;
        margin-bottom: 15px;
        padding-top: 20px;
    }

    .section-content {
        margin-left: 15px;
    }
}

/* --------------------------------------------   SECTION - ABOUT ME   ------------------------------------------- */

/* About me */
#about {
    margin-top: -20px;
    padding-top: 20px;
    margin-left: -10px;

    .about-me {
        background-color: var(--card-background-color);
        border-radius: 10px;
        padding: 25px 30px;
        line-height: calc(25/16);
        font-size: 16px;
        font-weight: 500;
        max-width: max(500px, 95%);

        p { margin-bottom: 10px;}

    }
}

/* --------------------------------------------   SECTION - SKILL   ------------------------------------------- */

/* Skills Grid */
.skill-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .skill-card {
        background: var(--card-background-color);
        padding: 10px;
        width: 100px;
        border-radius: 15px;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .skill-logo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 17px;

            img {                
                height: 50px;
                width: 50px;
            }
        }
        .skill-name {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;   
            text-overflow: ellipsis;
            font-weight: 500;
            max-width: 100%;
        }
    }
}

/* --------------------------------------------   SECTION - EXPERIENCE   ------------------------------------------- */

/* Experience Section  */
.experiences {
    position: relative;
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &::before {
        content: "";
        position: absolute;
        top: 10px;
        width: 4px;
        border-radius: 2px;
        height: 95%;
        background: rgba(255, 255, 255, 0.3);
    }

    /* Experience Items */
    .experience {
        position: relative;
        padding-left: 20px;
        box-sizing: border-box;

        .experience-content {
            background: var(--card-background-color);
            padding: 15px;
            border-radius: 10px;
            position: relative;
            transition: 0.3s;
            &:hover {
                box-shadow: 2px 2px 10px -1px rgba(41, 41, 41, 0.5);
            }
            &::before {
                content: "";
                position: absolute;
                top: 15px;
                left: 0px;
                width: 16px;
                height: 16px;
                transform: translateX(-50%) rotate(-45deg);
                z-index: 2;
                border-width: 8px;
                border-style: solid;
                border-color: var(--card-background-color) transparent transparent var(--card-background-color);
            }
            .experience-heading {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 3px;
                padding-bottom: 10px;
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        
                .role-and-company {
                    font-size: 19px;
                    font-weight: 600;
                }
        
                /* Timeline Dates */
                .experience-date {
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.9);
                    font-weight: 500;
                }
            }
            .experience-details {
                list-style: none;
                padding: 0;
        
                li {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 8px;
                }
        
                li::before {
                    content: "►";
                    position: absolute;
                    left: 0;
                    top: 3px;
                    height: 12px;
                    color: #FFF;
                    font-size: 12px;
                }
            }
        }
    }
}

/* --------------------------------------------   SECTION - PROJECTS   ------------------------------------------- */

/* Projects Grid */
.project-grid {
    max-width: 950px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .project-card {
        background: var(--card-background-color);
        flex: 1;
        padding: 20px;
        border-radius: 10px;
        transition: 0.3s;
        min-width: min(350px, 100%);
        /* cursor: pointer; */

        &:hover, &:focus {
            transform: scale(1.005);
            background-color: var(--card-hover-color);
        }

        .project-title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        .project-details {
            font-size: 16px;
            font-weight: 500;
            line-height: calc(20/16);
            margin-bottom: 10px;

            .project-description {
                margin-bottom: 10px;
            }

            ul {
                .list-item {
                    margin-bottom: 5px;
                    padding: 0px;
                    padding-left: 10px;
                }
            }
        }
    }
}

/* --------------------------------------------   SECTION - EDUCATION   ------------------------------------------- */

/* --------------------------------------------   SECTION - ACHIEVEMENTS   ------------------------------------------- */

.achievements-list {
    background-color: var(--card-background-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 950px;
    ul {
        .list-item {
            margin-bottom: 5px;
            padding: 0px;
            padding-left: 10px;
        }
    }
}

/* --------------------------------------------   SECTION - CONTACT   ------------------------------------------- */

/* Media Queries Start */
@media screen and (max-width: 1100px) {
    .hide-on-medium-screen {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .hide-on-small-screen {
        display: none;
    }
    .sidebar-lists {
        .list-item {
            font-size: 14px;
        }
    }
}
/* Media Queries End */
