/* --------------------------------------------   SECTION - ACHIEVEMENTS   ------------------------------------------- */

.achievements-list {
    background-color: var(--card-background-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 950px;
    ul {
        .list-item {
            margin-bottom: 5px;
            padding: 0px;
            padding-left: 20px;
        }

        .list-item::before {
            content: "■";
            position: relative;
            left: -10px;
            top: -3px;
            height: 12px;
            color: #FFF;
            font-size: 12px;
        }
    }
}