/* --------------------------------------------   SECTION - EXPERIENCE   ------------------------------------------- */

/* Experience Section  */
.experiences {
    position: relative;
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &::before {
        content: "";
        position: absolute;
        width: 4px;
        border-radius: 2px;
        height: 97%;
        background: rgba(0, 0, 0, 0.1);
    }

    /* Experience Items */
    .experience {
        position: relative;
        padding-left: 20px;
        box-sizing: border-box;

        .experience-content {
            background: var(--card-background-color);
            /* -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px); */
            padding: 15px;
            border-radius: 10px;
            position: relative;
            transition: 0.3s;
            &:hover {
                box-shadow: 2px 2px 10px -1px rgba(41, 41, 41, 0.5);
            }
            &::before {
                content: "";
                position: absolute;
                top: 15px;
                left: 0px;
                width: 16px;
                height: 16px;
                transform: translateX(-50%) rotate(-45deg);
                z-index: 2;
                border-width: 8px;
                border-style: solid;
                border-color: var(--card-background-color) transparent transparent var(--card-background-color);
            }
            .experience-heading {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 3px;
                padding-bottom: 10px;
                margin-bottom: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        
                .role-and-company {
                    font-size: 19px;
                    font-weight: 600;
                }
        
                /* Timeline Dates */
                .experience-date {
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.9);
                    font-weight: 500;
                }
            }
            .experience-details {
                list-style: none;
                padding: 0;
        
                li {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 8px;
                }
        
                li::before {
                    content: "►";
                    position: absolute;
                    left: 0;
                    top: 3px;
                    height: 12px;
                    color: #FFF;
                    font-size: 12px;
                }
            }
        }
    }
}